{% extends "Dashboard/base.html" %}

{% block start %}
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-warning">
          <div class="card-header">
            <h3 class="card-title">Updating Admin</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <form class="card-body" method="POST" enctype="multipart/form-data" action="/updateAdmin/{{user.id}}">
            {% csrf_token %}
            <div class="form-group">
              <label for="inputName">Username</label>
              <input type="text" name="username" id="inputName" value="{{user.username}}" class="form-control">
            </div>
            <div class="form-group">
              <label for="inputNumber">Email</label>
              <input type="email" name="email" value="{{user.email}}" id="inputNumber" class="form-control">
            </div>
            <div class="form-group">
              <label for="inputNumber">Admin?</label>
              <!-- <input type="checkbox" value="{{user.is_superuser}}" name="isAdmin" id="isAdmin" class="form-control"> -->
              <input type="checkbox" name="isAdmin" id="inputNumber" class="form-control" {% if user.is_superuser %}checked{% endif %}>
            </div>
            <div class="row">
              <div class="col-12">
                <a href="/admins" class="btn btn-secondary">Cancel</a>
                <input type="submit" value="Update Admin" class="btn btn-success float-right">
              </div>
            </div>
          </form>          
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
