{% extends "Inv/base.html" %}

{% load static %}

{% block start %}
<section class="about" id="about">

<!-- <h3 class="sub-heading"> about us </h3> -->
<h1 class="heading"> why choose us? </h1>

<div class="row">
    <div class="image">
        <img src="{% static 'Image/home-sneaker2-removebg.png' %}" alt="">
    </div>
    <div class="content">
        <h3>Our mission</h3>
        <p>
            "Second hand sneaker selling and buying websites are online marketplaces where people can buy and sell used sneakers. These websites offer a wide variety of sneakers from different brands and styles, so you can find the perfect pair of sneakers for your needs.
        </p>
        <br>
        <p>
            but now it not completly available all functions to available for the user because we have lesstime to complete this provide project and this is a CAPSTONE project1 from CADT, and we are so sad because our team has been rejected by advisor he said ' Your Team Can't Go To Defense This Project ',but the school is make us a chances to defense this project because they knew what we have doing in this project."
        </p>

        <a href="#" class="btn">learn more</a>
    </div>

</div>
<div class="row">
    <div class="content">
        <br>
        <h3>Our vision</h3>
        <p>
            To sell sneakers on a second hand sneaker website, you simply need to create an account and list your sneakers for sale. You will need to provide information about the sneakers, such as the brand, model, size, condition, and price. Once your sneakers are listed, they will be visible to other users who are looking to buy sneakers.
        </p>
        <br>
        <p>
            To buy sneakers on a second hand sneaker website, you can simply browse the listings and find a pair of sneakers that you like. Once you have found a pair of sneakers that you want to buy, you can contact the seller and make a purchase."
        </p>

        <a href="#" class="btn">learn more</a>
    </div>
    <div class="image">
        <img src="{% static 'Image/home-sneaker3-removebg.png' %}" alt="">
    </div>
</div>
</section>
{% endblock %}