{% extends "Inv/base.html" %}

{% load static %}

{% block start %}
   <section class="home" id="home">

    <div class="swiper-container home-slider">

        <div class="swiper-wrapper wrapper">

            <div class="swiper-slide slide">
                <div class="content">
                    <span>Second-hand Sneaker</span>
                    <h3>
                        Best choice
                    </h3>
                    <p>Experience with high quality sneaker
                        get your fancy pairs here
                    </p>
                    <a href="/products" class="btn">order now</a>
                </div>
                <div class="image">
                    <img src="{% static 'Image/home-sneaker3-removebg.png' %}" alt="">
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

        <!-- feature part -->
        <div class=" feature">
            <h1 class="heading">Customer Rating</h1>

                <div class="item">
                    <div class="main-item1 ">
                        <i class="fa-solid fa-pizza-slice"></i>
                        <h4>Order</h4>
                    </div>
                    <div class="main-item2">
                        <i class="fa-solid fa-truck"></i>
                        <h4>Delivery</h4>
                    </div>
                    <div class="main-item3">
                        <i class="fa-solid fa-hand-holding-dollar"></i>
                        <h4>Payment</h4>
                    </div>
                    <div class="main-item4">
                        <i class="fas fa-headset"></i>
                        <h4>24/7 service</h4>
                    </div>
                </div>
        </div>

    </div>
  </section>

{% endblock %}

