{% extends 'Inv/Base.html' %}

{% load static %}

{% block start %}

<form method="GET" action="/searchTeam/" id="search-form">
    <input type="text" placeholder="search here..." name="query" id="search-box">
    <label for="search-box" class="fas fa-search"></label>
    <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
    <i class="fas fa-times" id="close"></i>
</form>


<section class="product" id="product">

    <h3 class="sub-heading"></h3>
    <h1 class="heading">Team Searching</h1>

    <div class="box-container">

        {% if teams %}

            {% for team in teams %}

            <div class="box">
                <div class="image">
                    <img src="/{{ team.image }}" alt="Image">
                </div>
                <div class="content">
                    <!-- <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div> -->
                    <h3 style="font-size: 20px;">Name: {{ team.name }}</h3>
                    <h3 style="font-size: 20px;">ID: {{ team.StudentId }}</h3>
                    <p>Description: {{ team.description }}</p>
                    <div style="font-size: 20px;" class="d-flex justify-content-center  ">
                        <i style="color: blue;" class="fa-brands fa-facebook"></i>
                        <a href="">{{ team.social }}</a>
                    </div>
                </div>
            </div>

            {% endfor %}

        {% else %}
                <h1>No Member available </h1>
        {% endif %}
    
    </div>

</section>

{% endblock %}